.header_top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    display: inline-block;
    padding-block: 10px;
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.header_top ul {
    display: flex;
    gap: 10px;
    margin: initial;
    padding: initial;
}

.header_top a {
    color: var(--theme-text-color) !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-right: 20px;
}

.social-item a {
    margin-right: 0px !important;
    
}


.header_top a i {
    margin-right: 5px;
}

.login {
    margin-right: 5px !important;
}

.register {
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
}

/* navbar */

.logo {
    width: 140px;
    height: 45px;
    object-fit: contain;
}

.menu-list li {
    padding: 25px 18px;
    display: flex;
    align-items: center;
}

.menu-list li a {
    color: var(--theme-text-color) !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: initial !important;
}


.add_listing a {
    padding: 10px 20px !important;
    border: 1px solid var(--theme-text-color);
    border-radius: 10vmax;
    color: var(--theme-text-color);
}

.sidebar_panel {
    padding-left: 8px !important;
}

.sidebar_panel-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}


/* left side bar  */



.listing_sidebar {
    display: none;
    opacity: 0;
    /* -webkit-transition: all 0.35s ease-in-out 0s;
    -o-transition: all 0.35s ease-in-out 0s;
    transition: all 0.35s ease-in-out 0s; */
    z-index: 9999;
}


.siderbar_left_home {
    background: var(--theme-color);
    padding: 60px;
    z-index: 99;
    position: fixed;
    overflow-y: auto;
    scrollbar-width: thin;
    right: 0;
    top: 0;

    width: 450px;
    height: 100vh;
    color: #fff;
}

.sidebar_close_btn {
    background-color: #F5C34B;
    color: #1A3760;
    height: 42px;
    line-height: 42px;
    width: 42px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.sidebar-content .title {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    margin-bottom: 15px;
    margin-top: 32px;
    text-transform: uppercase;
}

.sidebar-content p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.sidebar-phone {
    color: #FFFFFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}


@media (max-width: 992px) {
    .header {
        padding-block: 10px;
    }

    .header_top {
        display: none;
    }

    .navbar-toggler {
        border: none !important;
        outline: none;
        box-shadow: none !important;
    }

    .menu-list li:first-child {
        margin-top: 30px;
    }

    .menu-list li {
        padding: 15px !important;
        border-bottom: 1px solid #58585818;
    }

    .menu-list li:hover {
        background: var(--theme-text-color);
    }

    .menu-list li:hover a {
        color: #fff !important;
    }

    .menu-list li a {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 15px;
    }

    .navbar .container-lg {
        padding-inline: 0px !important;
    }

    .navbar-brand {
        margin-left: 12px;
    }

    .add_listing {
        display: none !important;
    }

    .sidebar_panel {
        display: none !important;
    }
}